*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Poppins', sans-serif;
color: #878d92;
font-size:14px;
}
body{
background-color:#1b2727;
}
nav{
display: flex;
justify-content: space-around;
}
.lien{
display: flex;
justify-content: center;
position:relative;
align-items: center;
}
a:hover{
color: #bdd299;
}
a{
padding-right: 165px;
justify-content: space-around;
text-decoration: none;
}
#logo{
background: url("0.png");
background-size: cover;
height:70px;
width: 70px;
border-radius: 50px;
padding:0;
margin-right: 165px;
background-position: center;
}
h1{
display: flex;
justify-content: center;
align-items: center;
margin-right: 50px;
line-height: 50px;
color:#688e4e;
font-size:20px;
font-weight:bold;
}
.titre{
text-align: center;
}
.tige{
height:0.5px;
width:50%;
background-color: whitesmoke;
margin-left:25%;
}
.text{
margin-top: 2%;
margin-left:2%;
}
p{
margin-bottom: 10px;
}
input{
height: 5vh;
width: 20%;
left: 32%;
padding-top: -100px;
border-radius: 15px;
outline: none;
outline:none;
border: none;
padding: 3px 10px;
cursor: pointer;
}
h2{
font-size:20px;
margin-left:35px;
}


