*{
margin: 0;
padding: 0;
color:#878d92;
box-sizing:border-box;
font-size:14px;
font-family: 'Poppins', sans-serif;
}
body{
background-color: #1b2727;  
}
H2{
text-align: center;
margin-left:35px;
}
nav{
display: flex;
justify-content: space-around;

}
.lien{
display: flex;
justify-content: center;
position:relative;
align-items: center;
}
a:hover{
color: #bdd299;
}
a{
padding-right: 165px;
justify-content: space-around;
text-decoration: none;
}
#logo{
background: url("0.png");
background-size: cover;
height:70px;
width: 70px;
border-radius: 50px;
padding:0;
margin-right: 165px;
background-position: center;
}
h1{
display: flex;
justify-content: center;
align-items: center;
margin-right: 50px;
line-height: 50px;
color:#688e4e;
font-size:20px;
font-weight:bold;
}


.tige{
height:0.5px;
width:50%;
background-color: whitesmoke;
margin-left: 25%;
}